datasets
documentacao/final/main.aux
documentacao/final/main.blg
documentacao/final/main.blg
documentacao/final/main.fdb_latexmk
documentacao/final/main.fls
documentacao/final/main.log
documentacao/final/main.run.xml
documentacao/final/main.bcf
documentacao/final/main.log
documentacao/final/main.bbl
